<div class="container text-center p-3 my-3">
    <div class="row">
        <div class="col border p-3 my-3">
            <h1>Pangolin</h1>
            <p class="lead">Pour continuer sur l'application veuillez vous connecter ou vous inscire.</p>
            <div class="container">
                <a class="btn btn-primary m-1" role="button" [routerLink]="['/register']">S'inscrire</a>
                <a class="btn btn-primary m-1" role="button" [routerLink]="['/login']">Se connecter</a>
            </div>
        </div>
    </div>
</div>