<div class="user-edit">
      <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">

        <h1 class="h1-strong">{{title}}</h1>

        <div class="alert alert-success" *ngIf="status == 'success'">
          Mise à jour avec succés
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
            Nous n'avons pas réussi à mettre à jour vos données, veuillez réessayer.
        </div>

        <div class="col-md-6 form-group">
            <p>
                <label>Prénom</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control"/>
                <span *ngIf="!name.value && name.touched">
                    Prénom requis
                </span>
            </p>
            <p>
                <label>Rôle</label>
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control"/>
                <span *ngIf="!surname.value && surname.touched">
                    Rôle requis
                </span>
            </p>
            <p>
                <label>Nom d'utilisateur</label>
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control"/>
                <span *ngIf="!nick.value && nick.touched">
                    Nom d'utilisateur requis
                </span>
            </p>
        </div>
        <div class="col-md-6 form-group">
            <p>
                <label>Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                <span *ngIf="!email.value && email.touched">
                    Adresse email requis
                </span>
            </p>
            <div *ngIf="user.image">
                <img src="{{url + 'get-image-user/' + user.image }}" class="upload-image" width="100" height="100"/>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <input type="submit" value="Mettre à jour" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
        </div>

        <!--<input type="submit" value="Update" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />-->


    </form>

</div>
